<header>
  <blog-navbar title="OpenCRM"></blog-navbar>
</header>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container" *ngIf="!editing">
  <h2>Liste des société :</h2>
  <div class="article" *ngFor="let entreprise of entreprises; index as i;">
    <h2>
      <a class="nav-link" href="#">{{ entreprise?.name }}</a>

      <img src="/assets/edit.png" (click)="modifyEntreprise(entreprise.id, i)">
      <img src="/assets/delete.png" (click)="deleteEntreprise(entreprise.id, i)">
    </h2>
    <p>{{ entreprise?.adresse }}</p>
    <p>{{ entreprise?.cp }}</p>
    <p>{{ entreprise?.ville }}</p>
  </div>
  <button class="btn btn-info" (click)="addEntreprise()">Ajouter une nouvelle société</button>
</div>



<div class="container" *ngIf="editing">
  <form (ngSubmit)="saveEntreprise(myForm)" #myForm="ngForm">
    <h2>Enregistrer une entreprise :</h2>

    <label for="form_name">Société *</label>
    <input id="form_name" type="text" name="name"
           [(ngModel)]="editEntreprise.name"
           class="form-control" placeholder="Entrer le nom de votre entreprise *" required>
    <label for="form_adresse">Adresse *</label>
    <input id="form_adresse" type="text" name="adresse"
           [(ngModel)]="editEntreprise.adresse"
           class="form-control" placeholder="Entrer votre adresse *" required>
    <label for="form_ville">Ville *</label>
    <input id="form_ville" type="text" name="ville"
           [(ngModel)]="editEntreprise.ville"
           class="form-control" placeholder="Entrer la ville *" required>

    <label for="form_author">Author *</label>
    <input id="form_author" name="author"
           [(ngModel)]="editEntreprise.author"
           class="form-control" placeholder="Please enter your name *" required="required">
    <button>Valider</button>
    <input type="submit" (click)="backToList()"
           class="btn btn-success btn-send" value="Publish">
  </form>
</div>

